/* This file intentionally left blank.
 * Put your custom CSS into your (not the theme's) assets/sass/custom.scss
 * できるだけレイアウトやmain.scssには手を入れず、ここだけでカスタマイズする。
 */
 p, ul, ol, dl, table, blockquote {
    margin: 0 0 0.5em 0;
}

.box {
    &.post {
        .inner {
            margin-left: calc(30% + 2em);
            height: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@include breakpoint('<=narrower') {
    .box {
        &.post {
            .inner {
                margin-left: calc(20% + 2em);
                height: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@include breakpoint('<=mobilep') {
    .box {
        &.post {
            .inner {
                margin-left: calc(20% + 2em);
                height: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}


.box.highlight p {
    text-align: left;
}


@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,600,900&display=swap');

body, input, select, textarea {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.65em;
}

// 視差表現。残念ながらiOSで機能しない
@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
    #banner {
        background-attachment: fixed;
    }
}

#footer {
    text-align: left;
}

// header logo; big screen
a#logo img {
    max-height: 120px;
}

// header logo; mobile
span.title img {
    max-height: 100px;
}

// #header h1 {
//     text-align: left;
//     padding: 0 0 0 1em;
//     position: absolute;
//     top: 0;
//     right: 0;
//     // margin: 0 auto 0 0;
// }

// #banner {
//     // margin: 300px auto; /*as per your preferences*/
//     // height: 300px;
//     // width: 450px;
//     // position: absolute;
//     // top: 0px;
//     // left:0px;
//     border: 2px solid crimson;
//     animation-name: banner;
//     animation-duration: 1s;
//     animation-timing-function: ease-in-out;
//     animation-iteration-count: infinite;
// }


// @keyframes banner{
//     0%{
//         background-image: url(images/beans.jpg);
//     }
//     25%{
//         background-image: url(images/pink2.jpg);
//     }
//     50%{
//         background-image: url(images/beans.jpg);
//     }
//     75%{
//         background-image: url(images/pink2.jpg);
//     }
//     100%{
//         background-image: url(images/beans.jpg);
//     }
// }